
/*------------start of navigation bar----------*/

    nav{
        color: white;
        background-color: #2F3F76;
        opacity: 0.9;
        width: 100%;
        position: fixed;
        top: 0;
        
    }


#body{
font-family: Arial, Helvetica, sans-serif;
padding: 0;
margin: 0;
}


    .top{
        list-style-type: none;    /*this edits the bullet point*/
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    .list{
        float: right;
    }
    .list a {
        display: block; /*im not too sure....*/
        color: white;
        padding: 15px 20px;
        text-decoration: none; /*We are using this to remove the underline*/
    }
    
    .list a:hover {
        background-color: #002b80;
    }


#links {
    text-align: center;

}
#links a{
    
    text-align: center;
    display: block;
    display: inline;
    padding: 20px;
    height: 20 px;
    font-size: 120%;
    color: white;
    background-color: #2F3F76;
    

    }
a:link{ text-decoration: none;}
/*------end of navigation bar------*/

/*------Carosel------*/
    * {
      box-sizing: border-box;
    }

    .slider {
        width: 60%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
	
	#ServiceSlider {
		width: 80%;
	}
/*------Carosel End------*/
