#banner{ display: block;
		 margin: auto;
		 width: 80%;
		 }





/*------------start of navigation bar----------*/

#navigation{
	z-index: 2000;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background-color: #2F3F76;
	opacity: 0.8;
	width: 100%;
	position: absolute;
	padding:0;
	margin:0;

}

#body{
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	width: 100% ;
}


#NavBar {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #2F3F76;
	
    position: fixed;
    top: 0;
    width: 100%;
}

#ListItem {
	float: left;
	vertical-align:middle;
}

#ListItem a{ 
	display: block;
	color: white;
 	padding: 22px 70px;
	text-decoration: none;

	}


#ListItem a:hover {
	background-color: #002b80;
}

#links {
	text-align: center;

}
#links a{
	
	text-align: center;
	display: block;
	display: inline;
	padding: 20px;
	height: 20 px;
	font-size: 120%;
	color: white;
	background-color: #2F3F76;
	

	}
a:link{ text-decoration: none;}

table {text-align: center;}

#InPage {font-weight: bold;}

#InPage:link {color: #3c5093;}

#InPage:hover, #InPage:focus {color: #243a87;text-decoration: underline;}

#InPage:Visited {
	color: #2c3b6d;
}
/*------end of navigation bar------*/

/*------Carosel------*/
    * {
      box-sizing: border-box;
    }

    .slider {
        width: 60%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
	
	#ServiceSlider {
		width: 80%;
	}
/*------Carosel End------*/

/*------I wanted to add more to the footer, but I don't know what to add------*/
#footer { padding: 30px 30px;
		text-align: center;



}

#storehours {
	display: block;
	margin: 10px;
	
	text-align: right;
}

#introduction{
	padding: 50px;





}