/*------------start of navigation bar----------*/

#navigation{
	z-index: 2000;
	font-family: Arial, Helvetica, sans-serif;
	color: white;
	background-color: #2F3F76;
	opacity: 0.8;
	width: 100%;
	position: absolute;
	padding:0;
	margin:0;

}

#body{
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	width: 100% ;
}

main{
	padding-top: 60px;
}

#NavBar {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #2F3F76;
	text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
}

    .list{
        display: inline-block; 
    }
    .list a {
        display: block; /*im not too sure....*/
        color: white;
        padding: 30px 60px;
        text-decoration: none; /*We are using this to remove the underline*/
    }
    
    .list a:hover {
        background-color: #002b80;
    }

#links {
	text-align: center;

}
#links a{
	
	text-align: center;
	display: block;
	display: inline;
	padding: 20px;
	height: 20 px;
	font-size: 120%;
	color: white;
	background-color: #2F3F76;
	

	}
a:link{ text-decoration: none;}

table {text-align: center;}

#InPage {font-weight: bold;}

#InPage:link {color: #3c5093;}

#InPage:hover, #InPage:focus {color: #243a87;text-decoration: underline;}

#InPage:Visited {
	color: #2c3b6d;
}
/*------end of navigation bar------*/

/*------Carosel------*/
    * {
      box-sizing: border-box;
    }

    .slider {
        width: 60%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        color: black;
    }
	
	#ServiceSlider {
		width: 80%;
	}
/*------Carosel End------*/
/*------Drop Down Menu------*/

.dropbtn {
	border: 0px;
	padding: 30px 60px;
	color: white;
	background-color: #2F3F76;
	font-family: Arial, Helvetica, sans-serif;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3c5093;
	font-family: Arial, Helvetica, sans-serif;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}

.image {pointer-events: none}

/*------Drop Down Menu------*/
/*------I wanted to add more to the footer, but I don't know what to add------*/
#footer { padding: 30px 30px;
		text-align: center;



}

#storehours {
	display: block;
	margin: 10px;
	
	text-align: right;
}

#introduction{
	padding: 50px;





}